* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9F8F6;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3%;
    background: transparent;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    /* Matches the 'Dipen' script style */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20%;
    padding-right: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #888;
}

.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero-content {
    z-index: 2;
    /* Keeps text above shapes */
}

.greeting {
    letter-spacing: 3px;
    font-size: 30rerm;
    color: #888;
    margin-bottom: 1rem;
}

.name {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}


/* About section */
.about-section {
    padding: 90px 8%;
    background-color: #fdfbf7;
    /* Matches your warm beige */
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    /* Left side is wider than right */
    gap: 80px;
}

h2,
h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 2rem;
}

.about-text p {
    line-height: 1.8;
    margin-bottom: 20px;
    color: #555;
}


/* Education Styling */
.edu-item {
    margin-bottom: 25px;
}

.edu-item span {
    font-size: 15px;
    color: #999;
}

.edu-item h4 {
    margin: 5px 0;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

/* The main vertical line */
.timeline-container {
    position: relative;
    padding-left: 20px;
    /* Space for the line */
    margin-top: 20px;
}

.timeline-container::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 2px;
    background-color: #e0e0e0;
    /* The grey line */
}